In [14]:
import pandas as pd

from sqlalchemy import create_engine

In [15]:
# create database connection
conn = create_engine('sqlite:///database_hm.sqlite', echo=False)

query_jeans = """
    SELECT *
    FROM vitrine
"""

df1 = pd.read_sql(query_jeans, conn)
df1

,product_id,style_id,color_id,product_name,color_name,product_price,cotton,polyester,spandex,modal,elastomultiester,scrapy_datetime
0,1024256001,1024256,001,slim_jeans,black,19.99,0.99,0.65,0.01,0.0,0.0,2022-04-09 18:11:37
1,1024256002,1024256,002,slim_jeans,light_denim_blue,19.99,0.99,0.65,0.01,0.0,0.0,2022-04-09 18:11:37
2,1024256003,1024256,003,slim_jeans,light_denim_blue,19.99,0.99,0.65,0.01,0.0,0.0,2022-04-09 18:11:37
3,1024256004,1024256,004,slim_jeans,denim_blue,19.99,0.99,0.65,0.01,0.0,0.0,2022-04-09 18:11:37
4,1024256005,1024256,005,slim_jeans,dark_blue,19.99,0.99,0.65,0.01,0.0,0.0,2022-04-09 18:11:37
...,...,...,...,...,...,...,...,...,...,...,...,...
3455,0825927002,0825927,002,skinny_jeans,denim_blue,34.99,1.00,0.00,0.02,0.0,0.0,2022-04-29 18:07:59
3456,0825927001,0825927,001,skinny_jeans,light_denim_blue,17.99,1.00,0.00,0.02,0.0,0.0,2022-04-29 18:07:59
3457,0825927003,0825927,003,skinny_jeans,black,11.99,1.00,0.26,0.01,0.0,0.0,2022-04-29 18:07:59
3458,0825927004,0825927,004,skinny_jeans,white,34.99,1.00,0.00,0.02,0.0,0.0,2022-04-29 18:07:59
3459,0825927010,0825927,010,skinny_jeans,steel_blue,14.99,1.00,0.00,0.02,0.0,0.0,2022-04-29 18:07:59